@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #16213e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 2rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #fff;
}

h1 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}



/*ul li blog-info/content*/
ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #0f3460;
    border-radius: 10px;
}

.blog-info {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e4e945;
}

.blog-content {
    font-size: 1.4rem;
    font-style: italic;
}

.blog-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    grid-gap: 2rem;
    max-width: 100vw;
}

footer {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

/* Form - info */
form {
    width: 400px;
    height: 480px;
    padding: 2rem;
    display: block;
    flex-direction: column;
    border: 2px solid #0f3460;
}

.info i {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: -23px;
    color: #e94560;
    background-color: #eaeaea;
    border-radius: 50%;
}

.info {
    font-size: 1.1rem;
    margin-top: 20px;
    position: relative;
}

.info small {
    visibility: hidden;
    color: #e94560;
    font-size: 1.1rem;
}

.info.error input {
    border: 3px solid red;
}

.info.error textarea {
    border: 3px solid red;
}

.info.error label {
    color: #e94560;
}

.info.error i.fa-exclamation-circle {
    visibility: visible;
}

.info.error small {
    visibility: visible;
}

.btnsubmit {
    border: none;
    background-color: #533483;
    color: #eaeaea;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
}

.btnsubmit:active {
    transform: scale(0.98);
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 700px) {
    .blog-box {
        display: flex;
        flex-direction: column-reverse;
        min-height: 100vh;
    }
}